extends layout

block content
  h1 #{title}
  if productos.length > 0
    .producto-container
      each producto in productos
        .producto
          img(src=`/images/${producto.imagen}`, alt=producto.nombre)
          h2= producto.nombre
          p= producto.descripcion
          p Disponible: #{producto.cantidad}
          p Precio: #{producto.precio}
          form.btnagcar(action=`/agregar-al-carrito/${producto.id}`, method='POST')
            button(type='submit') Agregar al carrito
              img.agregarcar(src="../images/agregar-carrito.png", alt="Agregar-Carrito.png")
  else
    p No se encontraron resultados.
